* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0211;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.card{
    width: 100%;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
}

.card h2,p,h1{
    text-align: center;
}
.margin-top-2{
    margin-top: 20px;
}
.input-style{
    width: 100%;
    border: 2px solid #a1a1a1;
    padding: 10px;
}

#addForm {
    width: 60%;
}


.margin-top-1{
    margin-top: 10px;
}

.button{
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #a1a1a1;
    padding: 10px;
    background-color: #a1a1a1;
    font-weight: bolder;
    color:white;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
.button:hover{
    background-color:white;
    cursor: pointer;
    color: black;
}
.alert-success{
    background-color:white;
    border: 2px solid #2123;
    height: 35px;
    text-align: center;
    border-radius: 10px;
    font-size: larger;
    font-weight: bolder;
}
.alert-error{
    background-color:rgba(243, 109, 20, 0.067);
    border: 2px solid rgba(255, 255, 255, 0.2);
    height: 35px;
    text-align: center;
    border-radius: 10px;
    font-size: larger;
    font-weight: bolder;
}
.display-none{
    display: none;
}

.align-items{
    display: flex;
    gap: 10px;
}

#searchSection{
    margin-left: 20px;
    width: 30%;
}
.navbar{
    background-color: #245;
    padding: 20px;
    font-weight: bolder;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .navHeader a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.navbar .navHeader a:hover{
    color: rgb(121, 121, 121);
   
}
.navMenu ul{
    display: flex;

}
.navMenu li{
    margin-left: 20px;
}
.navMenu a{
    text-decoration: none;
    color: white;
}

.footer{
    padding-top: 10px;
    padding-bottom: 100px;
    margin-top: 300px;
    background-color: #245;
    display: flex;
    justify-content: space-evenly;
    
}

.footer-section{
    
    margin-left: 30px;
    margin-right: 30px;
    
}
.footer-section-name{
    font-style: italic;
    font-weight: bolder;
    color: white;
}
.text-center{
    text-align: center;
}
textarea::placeholder{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.submit-button{
    border:1px solid #a1a1a1;
    font-style: italic;
    background-color: #525050;
    color: white;
    padding: 8px;
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgba(rgba(255, 0, 0, 0), rgba(0,rgba(0, 0, 255, 0), 0, 0), rgba(0, 0, 255, 0), alpha);
    transition: 0.5s;
}
.submit-button:hover{
    border: 1px solid #a1a1a1;
    cursor: pointer;
    font-style:normal;
    border-radius: 10px;
    background-color: #245;
    cursor: pointer;
 
}

.list-item{
  
    display: flex;
    color: white;
    font-weight: bolder;
    list-style:circle;
}
.list-item h3{
    margin-top: 40px;

    font-size: 17px;

}
.list-item p{
    margin-top: 10px;
    font-size: 13px;

}